<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      
        <Cell><Data ss:Type="Integer">letter_id</Data></Cell>
        <Cell><Data ss:Type="String">name</Data></Cell>
        <Cell><Data ss:Type="Decimal">unit_value</Data></Cell>
        <Cell><Data ss:Type="integer">quantity</Data></Cell>
        <Cell><Data ss:Type="integer">template</Data></Cell>
        <Cell><Data ss:Type="integer">user_id</Data></Cell>

      </Row>

    <% @records.each do |record| %>
      <Row>
        <Cell><Data ss:Type="Integer"><%= record.letter_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.name %></Data></Cell>
        <Cell><Data ss:Type="Decimal"><%= record.unit_value %></Data></Cell>
        <Cell><Data ss:Type="Integer"><%= record.quantity %></Data></Cell>
        <Cell><Data ss:Type="Integer"><%= record.template %></Data></Cell>
        <Cell><Data ss:Type="Integer"><%= record.user_id %></Data></Cell>
      </Row>


    <% end %>
    </Table>
  </Worksheet>
</Workbook>
