<!DOCTYPE html>
<html>
  <head>
    <title>AIP Letters</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
<div id="container">  
      <nav >
        <a class="navbar-brand" href="#">AIP Letters</a>
<div>
<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
    </li>
  <% end %>
</ul>
  </div>

        <div>
          <ul >
            <li>
              <%= link_to 'See All Letters', letters_path, class: 'nav-link' %> | <%= link_to 'See All Records', records_path, class: 'nav-link' %>
            </li>
          </ul>

        </div>
      </nav>
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>
    <div id="container">  
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
